@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color-darker: rgb(9, 48, 56);


    --kofxv-primary: rgb(13, 106, 134);
    --kofxv-second: #53ffd4;
    --kofxv-terc: #535d67;
    --kofxv-quarto: rgb(9, 48, 56);

    --sf6-primary: #370587;
    --sf6-second: #c82bca;
    --sf6-terc: #a781b8;
    --sf6-quarto: #1f0d3b;

    --tk8-primary: #0f1f2c;
    --tk8-second: #f40c65;
    --tk8-terc: #283040;
    --tk8-quarto: #070e14;

    --xko-primary: #1B1D1F;
    --xko-second: #CDF563;
    --xko-terc: #000;
    --xko-quarto: #000000;


    --tema1: var(--sf6-primary);
    --tema2: var(--sf6-second);
    --tema3: var(--sf6-terc);
    --tema4: var(--sf6-quarto)
}

* {
    box-sizing: border-box;
    outline: 0;
}


body {
    margin: 0;
    padding: 0;
    background: var(--tema1);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

nav {
    width: 100%;
}

nav .abas {
    display: flex;
    justify-content: left;
}

.aba {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 10.625rem; */
    height: 3.125rem;
    background-color: var(--tema3);
    border-radius: 5px 0px 0px 5px;
    color: var(--kofxv-second);
    border: 2px solid white;
    cursor: pointer;
    margin: 0 .5rem;
}

.aba_selec {
    height: 4rem
}



.aba img {
    width: 5rem;
}

.aba_selec img {
    width: 7rem;
}





/* ////////////////////////////////////////////////////////////////////// */




.geral {
    /* position: relative; */
    display: flex;
    justify-content: center;
}


.container {
    margin: 3.125rem 0;
    min-width: 40rem;
    max-width: 40rem;
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.625rem;
}


.middle {
    width: 40rem;
    /* background-color: #53ffd4; */
    
}


.side-bar {
    display: flex;
    position: fixed;
    right: 0;
}

.paleta {
    background: #fff;
    border-radius: 10px;
    max-width: 33.75rem;
    display: flex;
    padding: 1.25rem;
    flex-wrap: wrap;
    max-height: calc(100vh - 50px);
    overflow: auto;
}

.paleta-left {
    min-width: 40.125rem;
    z-index: 0;
    /* background-color: rgba(0, 200, 0, 0.5); */
}




/* //////////////////////////////////////////////////////// */


form input {
    display: block;
    width: 100%;
}

form input#input-titulo {
    font-size: 2em;
    height: 3.125rem;
    padding: 0 1.25rem;
    font-weight: bold;
}

form input#input-info {
    font-size: 1.2em;
    height: 1.875rem;
    padding: 0.938rem 0;
    padding-left: 1.875rem;
    margin-top: 0.1rem;
}

form input:focus {
    outline: 1px solid var(--kofxv-primary);
}

.menu {
    justify-content: center;
    align-items: center;
    display: flex;

}

.container button {
    border: none;
    background: var(--tema1);
    font-size: 1em;
    cursor: pointer;
    height: 3.125rem;
    margin: auto;
    min-width: 6.25rem;
    border-radius: 5px;
    padding: 0.313rem;
    z-index: 2;
}

.container button i {
    color: var(--tema2);
    pointer-events: none;
    /* não deixa de funcionar qnd clica no ícone */
}

.container .btnImp {
    background: #bbbbbb;
    color: var(--tema4);
    border-radius: 25px;
}

.container button:hover {
    background: var(--tema4);

}

.container .btnImp:hover {
    background: #535d67;
    color: #bbbbbb;
}


.comando {
    min-height: 1.875rem;
    border: 1px solid var(--tema4);
    margin: 0.5em 0;
    background: var(--tema3);
    display: flex;
    overflow-x: hidden;
    align-items: center;
}

.comma,
.txt {
    cursor: pointer;

}

.txt-p {
    margin: 0;
}

.txt-after {
    width: 100px;
    background: none;
    border: 1px solid #ffffff;
    color: white;
    font-size: 2rem;
    margin: 0;
}









.botoes_jogo {
    position: absolute;

}

.jogo {
    width: 10rem;
    cursor: pointer;
    margin: 0.625rem;
}

.hidden {
    display: none;
}





.btn-dia {
    width: 100px;
}





/* Responsividade */
@media(max-width: 962px){

.middle,
.paleta-left {
    display: none;
}

.side-bar {
    right: auto;
    bottom: 0;
    width: 100%;
    max-height: 40%;
}

.paleta {
    max-width: 100%;
}

.container {
    margin-bottom: 42vh;
}

.container button {
    z-index: 0;
}
   
}

@media(max-width: 639px) {

    .aba {
        height: 8vw;
        margin: 0 1vw;
    }
    
    .aba_selec {
        height: 12vw;
    }
    
    .aba img {
        width: 13vw;
    }
    
    .aba_selec img {
        width: 18vw;
    }



    .side-bar {
        left: 0;
        right: 0;
    }

    .paleta {
        padding: 3vw;
    }

    .comma {
        width: 10vw;
    }

    .container {
        min-width: 100vw;
        padding: 3vw;
    }

    .container button {
        font-size: 3vw;
        height: 8vw;
        min-width: 15vw;
    }

    form input#input-titulo {
        font-size: 2em;
        height: 8vw;
        padding: 0 2vw;
    }
    
    form input#input-info {
        font-size: 1.2em;
        height: 4vw;
        padding: 2vw 0;
        padding-left: 3vw;
        margin-top: 0.1rem;
    }

    body {
        font-size: 3vw;
    }

}







/* Imprimir ou Salvar */
@media print {
    body {
        margin: 0mm 0mm 0mm 0mm;
    }

    nav,
    .side-bar,
    .menu {
        display: none;
    }

    .container_abrir {
        margin: 50px auto;
    }

    .container {
        margin: 0px auto;
    }

    .lista {
        width: 130mm;
    }

    .comma {
        height: 16mm;
    }

    .comando {
        margin-top: 2mm;
        margin-bottom: 0;
    }

    form input {
        border: none;
    }

    .txt-after {
        color: black;
    }
}